.app {
}

.header {
  padding: 0.25rem 0.25rem 0.25rem 2.5rem;
  background-size: cover;
  background-position-y: 1000px;
  border-bottom: 3px solid white;
  display: flex;
  justify-content: flex-start;
}

.header .content {
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content .item {
  padding: 0.25rem;
  align-self: flex-end;
}

.body {
  padding: 2.5rem;
  max-width: 400px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .group-title {
  font-style: normal;
  font-weight: 700;
  padding: 0.25rem;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.25rem;
}

.project-title {
  font-weight: 300;
  margin: 0.5rem 0 0.5rem 0.1rem;
}

.project-description {
  padding: 0.25rem;
  font-family: titling-gothic-fb-narrow, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.body a {
  font-family: titling-gothic-fb-narrow, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.year {
  font-family: titling-gothic-fb-narrow, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.body a:hover {
  background-color: #d6d6d8;
}

#arabic {
  font-family: athelas-arabic,serif;
  font-weight: 700;
  font-style: normal;
}
