#root {
  height: inherit;
}

.app {
  height: inherit;
  display: flex;
}

#arabic {
  font-family: myriad-arabic, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.image {
  min-height: 80vh;
  min-width: 50vw;
  background-image: url("https://s3.amazonaws.com/rl-landing-page/landing-page.gif");
  background-size: cover;
  font-weight: 500;
  font-size: 2rem;
  margin: 1.5rem;
  flex-grow: 1;
}

.title {
  flex-basis: 300px;
  padding: 1.5rem;
  text-align: right;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}
